.top {

    border:  2px solid gold;
    width: 205PX;
    height: 320PX;
    background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.inp {
    background-color: #cad0db;

    width: 190px;
    padding: 5PX;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: large;
    text-align: center; 
    border-radius: 5px;
    margin-top: 5px;
}

.clear{ width: 100% ;
background-color: yellow;
margin: 1px;
height: 34px;
color: black;
font-weight: bold;
border-radius: 5px;
margin-top: 5px;

}
.clear:hover{ background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);}

.btn { 
    width: 22%;
    margin: 1px;
    height: 39px;
    border-radius: 15px;
    /* background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,223,179,1) 35%, rgba(0,212,255,1) 100%); */
font-weight: bolder;
font-size: large;

background: rgb(235,222,227);
background: radial-gradient(circle, rgba(235,222,227,1) 0%, rgba(74,191,188,1) 100%);

}

.btn:hover {   background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);}
.galf { 
    background-color: burlywood;
    width: 97px;
    margin-top: 2px;
    height: 30px;
    font-weight: bolder;
    font-size: large;
}